<div class= "Newbutton">
</div>


<%= search_form_for @q do |f|  %>
<%= f.label :Search %>
<%= f.search_field :name  %>
<% f.submit %>
<% end %>


<div class="grid">
  <% @finalarts.each do |finalart| %>
    <div class="final-image">
      <div class="grid-item">
      <ul><%= finalart.comment  %></ul>
      <%= link_to image_tag(finalart.img_url), finalart  %>
      </div>
    </div>
 </div> 
<% end %>
