<div class= "newbutton"></div>

<%= search_form_for @q, url: final_art_tag_path(:id),
                        html: {method: :get} do |f|  %>
  <%= f.label :Search %>
  <%= f.search_field :name  %>
  <% f.submit %>
<% end %>

<div class="grid">

  <% @finalarts.each do |finalart| %>
  <a href="<%= final_art_path(finalart) %>">
    <div class="final-image">
      <%=  image_tag(finalart.img_url) %>
        <div class="final-image-content">
          <p><%= finalart.comment %></p>
        </div>
    </div>
    </a>
  <% end %>
  
</div> 

