<!DOCTYPE html>
<html>
<head>
  <title>MuseumFailureApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body>
 <%= link_to 'The Musuem of Failure', final_arts_path %>
 <form id="search">
  <input type="search" id="search-keyword">
  <input type="submit" value="Submit">
 </form>
<%= yield %>

</body>
</html>
